<div class="menu-and-sidebar">
  <div [class.menu-open]="isMenuOpen" class="side-menu-bar">
    <div (click)="toggleMenu()" class="close-menu-icon icon">
      <mat-icon fontIcon="close"></mat-icon>
    </div>
    <div class="menus-on-side-bar">
      <div class="what-s-new">recently visited</div>
      <div class="deals">deals</div>
      <div class="deals">privacy and security</div>
    </div>
  </div>
  <div class="header">
    <div class="header-menus">
      <div class="header-1 each-h-container">
        <div routerLink="/" routerLinkActive="active" class="logo">logo</div>
      </div>
      <div class="each-h-container header-1-logo">
        <div (click)="toggleMenu()" class="menu-icon icon">
          <mat-icon fontIcon="menu"></mat-icon>
        </div>
      </div>
      <div class="header-2 each-h-container">
        <div class="what-s-new">recently visited</div>
        <div class="deals">deals</div>
        <!-- <div class="popular">popular</div> -->
      </div>
      <div class="header-3 each-h-container">
        <div routerLink="/wishlist" class="wishlist header-3-left">
          <mat-icon class="h-3-l-icon" fontIcon="favorite_outline"></mat-icon>
        </div>
        <div (click)="navigateToAccount()" class="login header-3-left">
          <mat-icon class="h-3-l-icon" fontIcon="person_outline"></mat-icon>
        </div>
        <div routerLink="/cart" class="cart header-3-left">
          <mat-icon
            class="h-3-l-icon"
            fontIcon="shopping_cart_checkout"
          ></mat-icon>
        </div>
      </div>
    </div>
  </div>
</div>
