<footer>
  <div class="footer-container">
    <div class="footer-content">
      <h3>Contact Us</h3>
      <div class="footer-contact-us-block">
        <mat-icon
          style="font-size: 18px"
          class="h-3-l-icon"
          fontIcon="location_on"
        ></mat-icon>
        <p>4461 internationl ct, Berrien Spring</p>
      </div>
      <div class="footer-contact-us-block">
        <mat-icon
          style="font-size: 18px"
          class="h-3-l-icon"
          fontIcon="email"
        ></mat-icon>
        <p>Email: support@rerax.com</p>
      </div>
      <div class="footer-contact-us-block">
        <mat-icon
          style="font-size: 18px"
          class="h-3-l-icon"
          fontIcon="phone"
        ></mat-icon>
        <p>Phone: +1-269-861-8708</p>
      </div>
    </div>
    <div class="footer-content">
      <h3>Useful Links</h3>
      <ul>
        <li (click)="homeClick()">Home</li>
        <li>About Us</li>
        <li>Contact</li>
      </ul>
    </div>
    <div class="footer-content">
      <h3>Follow Us</h3>
      <ul class="social-icons">
        <li>
          <mat-icon class="h-3-l-icon" fontIcon="facebook"></mat-icon>
        </li>
        <li>
          <mat-icon class="h-3-l-icon" fontIcon="instagram"></mat-icon>
        </li>
        <li>
          <a href="#"><i class="fa fa-instagram"></i></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="footer-bottom">
    <p>&copy; 2023 Your Online Store. All rights reserved.</p>
  </div>
</footer>
