<!-- <ngx-paypal
  [style]="{
    layout: 'horizontal',
    color: 'blue',
    shape: 'rect',
    label: 'checkout',
  }"
></ngx-paypal> -->

<div class="payment-body">
  <div class="checkout-info">
    <div style="padding: 5px">Checkout</div>
    <table class="tr-container" *ngFor="let item of items">
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      <tr *ngFor="let arrayItem of item.size">
        <td>
          <div style="font-weight: bold; color: rgb(112, 112, 112)">+</div>
        </td>
        <td>{{ arrayItem[1] }}</td>
        <td>{{ arrayItem[0] }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.price | currency }}</td>
      </tr>
    </table>
    <div class="total-container">
      <b>Total:</b>
      <div>{{ total }}</div>
    </div>
  </div>
</div>
