<div class="items-container">

    
    <div class="item-container" *ngFor = "let item of items">
            <div class="img">
                <img [src]="item.imgUrl" [alt]="item.name" width="200">
            </div>
            <div class="bottom-item">
                <div class="desc-and-price">
                    <p class="description">{{item.description}}</p>
                    <p>{{item.price | currency}}</p>
                </div>
                <button (click)="handleClick()">add to cart</button>
            
        </div>
    </div>
    
</div>