.item-container {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-basis: calc(33% - 10px);
  margin: 1px;
  /* box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.089); */
  /* border-radius: 10px; */
}

.item-container > * {
  font-family: "Roboto", sans-serif;
}

.item-container:hover .hover-item-element {
  height: 120px;
  background-color: rgba(0, 0, 0, 0.945);
}

.hover-item-element {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 115px;
  padding-bottom: 10px;
  background-color: rgba(0, 0, 0, 0.685);
  transition: height 0.5s;
}

.hover-item-element > * {
  /* padding-left: 10px;
  margin-right: 10px; */
  /* border: 1px solid white; */
}

.img {
  /* width: 33.3vw; */
  height: 55vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  overflow: hidden;
  cursor: pointer;
}

.item-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.info-item-container {
  display: flex;
  flex-direction: row;
  width: 90%;
}

.price {
  font-weight: bold;
  font-size: 14px;
  color: rgb(221, 221, 221);
  margin-bottom: -10px;
  margin-left: 10px;
}

.price-off {
  text-decoration: line-through;
  font-size: 12px;
  color: rgb(124, 124, 124);
}

.price-and-button {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.item-buttons-container {
  /* border: 1px solid wheat; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.item-buttons-small-screen {
  visibility: hidden;
  /* margin-bottom: 5px; */
}

.add-cart-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: rgb(0, 0, 0);

  font-weight: 500;
  font-size: 14px;
  padding: 7px;
  border-radius: 5px;
  background-color: gold;
  margin: 10px 10px 10px 0;
}

.add-cart-button:hover {
  color: rgb(226, 155, 0);

  background-color: rgba(255, 255, 255, 0.219);
}

.bottom-item {
  /* visibility: hidden; */
  /* position: absolute; */
  display: none;
}

.size-bubble-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 75%;
  background-color: black;
}

.each-size-label {
  display: flex;

  padding: 5px 10px;
  margin: 0px 14px;
  color: white;
  font-size: 12px;
  /* background-color: rgb(107, 184, 252); */
  border-radius: 15px;
  cursor: pointer;
  /* width: 45%; */
  border-right: 1px solid aliceblue;
}

.each-size-label > * {
  margin-left: 2px;
}
.each-size-label:hover {
  color: rgb(255, 211, 146);
}

.desc-and-price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.description {
  display: flex;
  color: rgb(218, 218, 218);
  font-size: 12px;
  text-align: center;
  /* width: 160px; */
  margin-top: 15px;
  padding-left: 10px;
  font-family: "Roboto", sans-serif;
  text-decoration: underline;
  cursor: pointer;
}

.prices-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
  /* border-right: 1px solid rgba(0, 0, 0, 0.356); */
}

.item-buttons-small-screen {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-top: 0.5px solid rgba(0, 0, 0, 0.171);
  /* background-color: rgb(95, 64, 64); */
  /* z-index: 99; */
}

.add-wishlist-icon {
  font-size: 18px;
  cursor: pointer;
  color: rgb(233, 25, 25);
}

@media screen and (max-width: 768px) {
  .item-buttons-small-screen {
    position: relative;
    visibility: visible;
  }
  .bottom-item {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    position: relative;
  }
  .hover-item-element {
    display: none;
  }

  .item-container {
    /* flex-basis: calc(50% - 10px); */
    width: calc(50vw - 5px);
  }
  .item-container:hover .hover-item-element {
    display: none;
  }

  .img {
    height: 35vh;
  }

  .price {
    color: rgb(15, 15, 15);
  }

  .price-off {
    color: rgb(155, 155, 155);
  }
  .description {
    color: black;
    cursor: pointer;
  }

  .prices-container {
    margin-top: -20px;
    background-color: rgb(255, 255, 255);
  }

  .add-cart-button {
    background-color: transparent;
    color: black;
  }
}
