<div class="item-container">
  <div class="img">
    <img
      loading="lazy"
      [routerLink]="['/product', item.id]"
      class="item-image"
      [src]="item.imgUrl"
      [alt]="item.name"
    />
  </div>
  <div class="hover-item-element">
    <p [routerLink]="['/product', item.id]" class="description">
      {{ item.name }}
    </p>
    <div class="price-and-button">
      <div class="prices-container">
        <p class="price">{{ item.price | currency }}</p>
        <p class="price-off">{{ item.price | currency }}</p>
      </div>

      <div class="item-buttons-container">
        <div class="add-buy-buttons">
          <button class="add-cart-button" (click)="showSizeContainer()">
            add to cart
          </button>
          <button class="add-cart-button" (click)="onItemClick(item)">
            Buy now
          </button>
        </div>
        <div *ngIf="!item.isWished" class="add-to-wishlist">
          <mat-icon
            (click)="handleAddToWishlist()"
            style="color: white"
            class="add-wishlist-icon"
            fontIcon="favorite_outline"
          ></mat-icon>
        </div>
        <div *ngIf="item.isWished" class="add-to-wishlist">
          <mat-icon
            (click)="handleAddToWishlist()"
            class="add-wishlist-icon"
            fontIcon="favorite"
          ></mat-icon>
        </div>
      </div>
      <div
        [style.visibility]="isSizeContainerHidden ? 'hidden' : 'visible'"
        class="size-bubble-container"
      >
        <div *ngFor="let size of sizes">
          <button
            *ngIf="size.includeThisSize"
            (click)="handleAddToCart(getSizeId.innerText)"
            class="each-size-label"
          >
            <div #getSizeId>{{ size.nameSize }}</div>
            <span
              *ngFor="let pairedSizeInfo of item.size"
              class="number-item-size"
            >
              {{
                pairedSizeInfo.label == size.nameSize
                  ? pairedSizeInfo.numberIncart
                  : null
              }}
            </span>
          </button>
        </div>
        <div
          [routerLink]="['/cart']"
          style="color: rgb(233, 181, 37); padding-left: 10px; cursor: pointer"
        >
          go to cart
        </div>
        <div
          (click)="showSizeContainer()"
          style="color: rgb(233, 37, 37); padding-left: 10px; cursor: pointer"
        >
          close
        </div>
      </div>
    </div>
  </div>
  <div class="bottom-item">
    <div class="info-item-container">
      <div class="prices-container">
        <p class="price">{{ item.price | currency }}</p>
        <p class="price-off">{{ item.price | currency }}</p>
      </div>

      <p [routerLink]="['/product', item.id]" class="description">
        {{ item.name }}
      </p>
    </div>

    <div class="item-buttons-small-screen">
      <div class="add-buy-buttons">
        <button class="add-cart-button" (click)="handleAddToCart('')">
          Add to cart
        </button>
        <button class="add-cart-button" (click)="handleClick()">Buy now</button>
      </div>
      <div
        style="margin-bottom: -20px"
        *ngIf="!item.isWished"
        class="add-to-wishlist"
      >
        <mat-icon
          (click)="handleAddToWishlist()"
          style="color: black"
          class="add-wishlist-icon"
          fontIcon="favorite_outline"
        ></mat-icon>
      </div>
      <div
        style="margin-bottom: -20px"
        *ngIf="item.isWished"
        class="add-to-wishlist"
      >
        <mat-icon
          (click)="handleAddToWishlist()"
          class="add-wishlist-icon"
          fontIcon="favorite"
        ></mat-icon>
      </div>
    </div>
  </div>
</div>
