<div *ngFor="let itemFromSize of item.size" class="item-container">
  <div class="img">
    <img
      loading="lazy"
      [routerLink]="['/product', item.id]"
      class="item-image"
      [src]="item.imgUrl"
      [alt]="item.name"
    />
  </div>
  <div class="hover-item-element">
    <div class="opacity-element"></div>
    <div class="number-of-item-selector">
      <div class="size-label-cart-item">
        {{ itemFromSize.label }}
      </div>
      <div class="plus-and-minus-increment">
        <span>+</span>
        <span>-</span>
      </div>
      <span style="color: white">Quantity:</span
      ><input
        onkeydown="return (event.keycode!= '-')"
        max="999"
        min="1"
        type="number"
        value="{{ itemFromSize.numberIncart }}"
        (input)="onInputChange($event, itemFromSize, item)"
        #myQuantityInput
        name="quantity"
        id=""
      />
    </div>
    <p [routerLink]="['/product', item.id]" class="description">
      {{ item.name }}
    </p>
    <div class="prices-container">
      <p class="price">{{ item.price | currency }}</p>
      <p class="price-off">{{ item.price | currency }}</p>
    </div>
    <div class="price-and-button">
      <div class="">
        <div class="add-buy-buttons">
          <button
            class="add-cart-button"
            (click)="handleRemove(itemFromSize.label)"
          >
            remove cart
          </button>
          <button class="add-cart-button" (click)="handleClick()">
            Buy now
          </button>
        </div>
      </div>
    </div>
    <div
      *ngIf="!item.isWished"
      (click)="handleAddToWishlist()"
      class="add-to-wishlist"
    >
      <mat-icon
        style="margin-bottom: -7px"
        class="add-wishlist-icon"
        fontIcon="favorite_outline"
      ></mat-icon>
    </div>
    <div
      *ngIf="item.isWished"
      (click)="handleAddToWishlist()"
      class="add-to-wishlist"
    >
      <mat-icon
        style="margin-bottom: -7px"
        class="add-wishlist-icon"
        fontIcon="favorite"
      ></mat-icon>
    </div>
  </div>
</div>
